html
    head
        title="Usando Pug"
    body
        h1="Probando Pug" 
        table 
            thead 
                tr 
                    th= "#ID"
                    th= "Title"
                    th= "Price"
                    th= "IMG"
            tbody 
                each producto in data
                    tr
                        td= producto.id
                        td= producto.title
                        td= producto.price
                        - let img = producto.thumbnail
                        td
                            img(src= img width= "50px")
        a(class="button" href="/html") Cargar producto nuevo
|
       




